.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md

# Exclude development-specific files from distribution
defs/**
scripts/**
tmp/**
/version
